.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.items_content{
    width: 20vw;
    height: 20vw;
    background-color: aqua;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15%;
    margin: 20px;
}

.items_content p{
    font-size: 8vw;
    text-align: center;
}